<app-table
  [data]="categories"
  [columns]="['category_id', 'name', 'creation_date', 'Category Details', 'Edit Category', 'Delete Category']"
  (editCategoryClicked)="editCategory($event)"
  (deleteCategoryClicked)="deleteCategory($event)"
></app-table>


<div *ngIf="editingCategories">
  <h3>New Category Name</h3>
  <form (submit)="updateCategory()">
    <input type="text" [(ngModel)]="editingCategories.name" placeholder="New Category Name" [ngModelOptions]="{ standalone: true }">
    <app-button type="submit">Update Category</app-button>
    <app-button type="app-button" (click)="cancelEdit()">Cancel</app-button>
  </form>
</div>

<h1><a routerLink="/category-add" routerLinkActive="active" ariaCurrentWhenActive="page">ADD CATEGORY</a></h1>
