<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">
        <ng-container *ngIf="column !== 'Category Details'">{{ item[column] }}</ng-container>
        <ng-container *ngIf="column === 'Category Details'">
          <a [routerLink]="['/category-detail', item.category_id]">Show Details</a>
        </ng-container>
        <ng-container *ngIf="column === 'Post Details'">
          <a [routerLink]="['/post-detail', item.post_id]" [queryParams]="{ userId: item.user_id }">Show Details</a>
        </ng-container>
        <ng-container *ngIf="column === 'Delete Comment'">
          <app-button (click)="deleteComment(item.comment_id)">Delete Comment</app-button>
        </ng-container>
        <ng-container *ngIf="column === 'Edit Category'">
          <app-button (click)="editCategory(item)">Edit Category</app-button>
        </ng-container>
        <ng-container *ngIf="column === 'Comment Details'">
          <a [routerLink]="['/comment-detail', item.comment_id]" [queryParams]="{ postId: item.post_id }">Details</a>
        </ng-container>
        
      </td>
    </tr>
  </tbody>
</table>
