<div>

        <nav>
        <ul>
            <li><a routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">USER</a></li>
            <li><a routerLink="/post-list" routerLinkActive="active" ariaCurrentWhenActive="page">POST</a></li>
            <li><a routerLink="/category-list" routerLinkActive="active" ariaCurrentWhenActive="page">CATEGORY</a></li>
            <li><a routerLink="/comment-list" routerLinkActive="active" ariaCurrentWhenActive="page">COMMENTS</a></li>
        </ul>
        </nav>
        <!-- The routed views render in the <router-outlet>-->
</div>
