<p>user-add works!</p>

<div>

    <ul>
        <li *ngFor="let user of users">
          {{ user.username }} - {{ user.email }}
        </li>
      </ul>
    

</div>

<form (submit)="addUser()">
    <input type="text" [(ngModel)]="newUser.username" placeholder="Username" [ngModelOptions]="{ standalone: true }">
    <input type="number" [(ngModel)]="newUser.user_id" placeholder="User ID" [ngModelOptions]="{ standalone: true }">
    <input type="email" [(ngModel)]="newUser.email" placeholder="Email" [ngModelOptions]="{ standalone: true }">
    <input type="text" [(ngModel)]="newUser.creation_date" placeholder="Creation Date" [ngModelOptions]="{ standalone: true }">
    <input type="checkbox" [(ngModel)]="newUser.is_active" [ngModelOptions]="{ standalone: true }">
    <button type="submit">Add User</button>
  </form>
  
  
  <ul>
    <li *ngFor="let user of users">
      {{ user.username }}
      <button (click)="removeUser(user)">Remove</button>
      <button (click)="editUser(user)">Edit User</button>  

    </li>
  </ul>

  <!-- <div *ngFor="let user of users">
    <div *ngIf="checkAssociatedData(user)">
      var
      <p>{{ user.user_id }}</p>
      <p>{{ user.email }}</p>
    </div>
  </div> -->

  <div *ngIf="editingUser">
    <h3>Edit User</h3>
    <form (submit)="updateUser()">
      <input type="text" [(ngModel)]="editingUser.username" placeholder="Username" [ngModelOptions]="{ standalone: true }">
      <input type="email" [(ngModel)]="editingUser.email" placeholder="Email" [ngModelOptions]="{ standalone: true }">
      <button type="submit">Update User</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>