.custom-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 1px;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }