<app-table [data]="paginatedComments" [columns]="['comment_id', 'post_id', 'comment', 'Comment Details', 'Delete Comment']"></app-table>

<div class="pagination">
    <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
  </div>

<a routerLink="/comment-add" routerLinkActive="active" ariaCurrentWhenActive="page">ADD COMMENT</a>

